version: "3.9"

services:
  login-service:
    build: ./login
    container_name: login-service 
    ports:
      - "5001:5001"
    environment:
      - OTEL_SERVICE_NAME=login-service
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://signoz-otel-collector:4317
      - OTEL_EXPORTER_OTLP_PROTOCOL=grpc
      - OTEL_EXPORTER_OTLP_INSECURE=True

        # Enable all telemetry types
      - OTEL_TRACES_EXPORTER=otlp
      - OTEL_METRICS_EXPORTER=otlp
      - OTEL_LOGS_EXPORTER=otlp

        # Auto-instrument logging
      - OTEL_PYTHON_LOGGING_AUTO_INSTRUMENTATION_ENABLED=true

    networks:
      - signoz-net

  product-service:
    build: ./product
    container_name: product-service
    ports:
      - "5002:5002"
    environment:
      - OTEL_SERVICE_NAME=product-service
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://signoz-otel-collector:4317 
      - OTEL_EXPORTER_OTLP_PROTOCOL=grpc
      - OTEL_EXPORTER_OTLP_INSECURE=True

        # Enable all telemetry types
      - OTEL_TRACES_EXPORTER=otlp
      - OTEL_METRICS_EXPORTER=otlp
      - OTEL_LOGS_EXPORTER=otlp

        # Auto-instrument logging
      - OTEL_PYTHON_LOGGING_AUTO_INSTRUMENTATION_ENABLED=true

    networks:
      - signoz-net

  cart-service:
    build: ./cart
    container_name: cart-service
    ports:
      - "5003:5003"

    environment:
      - OTEL_SERVICE_NAME=cart-service
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://signoz-otel-collector:4317
      - OTEL_EXPORTER_OTLP_PROTOCOL=grpc
      - OTEL_EXPORTER_OTLP_INSECURE=True

        # Enable all telemetry types
      - OTEL_TRACES_EXPORTER=otlp
      - OTEL_METRICS_EXPORTER=otlp
      - OTEL_LOGS_EXPORTER=otlp
  
        # Auto-instrument logging
      - OTEL_PYTHON_LOGGING_AUTO_INSTRUMENTATION_ENABLED=true

    networks:
      - signoz-net

  java-servive:
    build: ./java
    container_name: java-service
    ports:
      - "8100:8080"

    environment:
      - OTEL_SERVICE_NAME=cart-service
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://signoz-otel-collector:4317
      - OTEL_EXPORTER_OTLP_PROTOCOL=grpc
      - OTEL_EXPORTER_OTLP_INSECURE=True

        # Enable all telemetry types
      - OTEL_TRACES_EXPORTER=otlp
      - OTEL_METRICS_EXPORTER=otlp
      - OTEL_LOGS_EXPORTER=otlp
  
        # Auto-instrument logging
      - OTEL_PYTHON_LOGGING_AUTO_INSTRUMENTATION_ENABLED=true
    
    networks:
      - signoz-net

  angular-servive:
    build: ./angular
    container_name: angular-service
    environment:
      - OTEL_RESOURCE_ATTRIBUTES=service.name=angular-service

    ports:
      - "8400:80"
    labels:
      app: angular
      service.name: angular-service
    networks:
      - signoz-net

networks:
  signoz-net:
    external: true
